<table class="table"  id="consulta">
  <!-- cabecalho da tabela -->
  <thead>
      <th scope="col"> Codigo </th>
      <th scope="col"> Professor </th>
      <th scope="col"> Ativo? </th>
      <th scope="col"> Excluir </th>
  </thead>
  <!-- corpo da tabela -->
  <tbody>

      <tr>
         <td> 1 </td>
         <td class="col-2"> Xavier </td>
         <td><a href="#" ><i class="fas fa-exchange-alt"></i>&nbsp;</a> Sim </td>
         <td><a href="#" ><i class="far fa-trash-alt"></i></a></td>
      </tr>

  </tbody>
</table>
