<table class="table"  id="consulta">
    <!-- cabecalho da tabela -->
    <thead>
        <th scope="col"> Codigo </th>
        <th scope="col"> Aluno </th>
        <th scope="col"> Média </th>
        <th scope="col"> Situação </th>
    </thead>
    <!-- corpo da tabela -->
    <tbody>
        
        <tr>
              <td scope="row">1</td>
              <td>Alice</td>
              <td>8.0</td>
              <td>Aprovado</td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Paula</td>
            <td>6.0</td>
            <td>Reprovado</td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>Ana Luisa</td>
        <td>10.0</td>
        <td>Aprovado</td>
  </tr>
        
    </tbody>
</table>
