<!-- CONTEUDO DA PAGINA -->
<section class="content">
    <div class="container-fluid">
        
        <!--Linha-->
        <div class="row">

          <div class="col-md-8">        
            <div class="card card-primary">
              
                <div class="card-header">

                <h3 class="card-title">Gerar Matrícula</h3>
            </div>

              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label>Aluno</label>
                    <div>
                        <select name="codAluno">
                            <option value= "1">Alice</option>
                            <option value= "2">Ambrósia</option>
                            <option value= "3">Ana Luisa</option>
                            <option value= "4">Ana Rita</option>
                            <option value= "5">Evellin</option>
                            <option value= "6">Paula</option>
                        </select>
                    </div>

                    <label>Disciplina</label>
                    <div>
                        <select name="codDisciplina">
                            <option value= "1">Geografia</option>
                            <option value= "2">Filosofia</option>
                            <option value= "3">História</option>
                            <option value= "4">Inglês</option>
                            <option value= "5">Matemática</option>
                            <option value= "6">Português</option>
                        </select>
                    </div>
                    <label>Data da Matrícula</label>
                    <input name="dataMat" type="date" >
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                  </div>
                </div>
              </form>
            </div>
        </div>   
    </div>
</div>
</section>
