<table class="table"  id="consulta">
    <!-- cabecalho da tabela -->
    <thead>
        <th scope="col"> Codigo </th>
        <th scope="col"> Aluno </th>
        <th scope="col"> Disciplina </th>
        <th scope="col"> Data de Matricula </th>
        <th scope="col"> Excluir </th>
    </thead>
    <!-- corpo da tabela -->
    <tbody>
        
        <tr>
              <td scope="row">1</td>
              <td>Alice</td>
              <td>Geografia</td>
             <td>2021-10-10</td>
           <td> <a href =# ><i class="far fa-trash-alt"></i> </a>    </td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Paula</td>
            <td>História</td>
           <td>2021-11-11</td>
         <td> <a href =# ><i class="far fa-trash-alt"></i> </a>    </td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>Ana Luisa</td>
        <td>Inglês</td>
       <td>2021-10-11</td>
     <td> <a href =# ><i class="far fa-trash-alt"></i> </a>    </td>
  </tr>
        
    </tbody>
</table>
