<table class="table"  id="consulta">
    <!-- cabecalho da tabela -->
    <thead>
        <th scope="col"> Codigo </th>
        <th scope="col"> Aluno </th>
        <th scope="col"> CPF </th>
        <th scope="col"> Data de Nascimento </th>
        <th scope="col"> Data de Matricula </th>
        <th scope="col"> Pai </th>
        <th scope="col"> Mãe </th>
        <th scope="col"> Responsável </th>
        <th scope="col"> Telefone do Responsável </th>
        <th scope="col"> Matriculado? </th>
        <th scope="col"> Excluir </th>
    </thead>
    <!-- corpo da tabela -->
    <tbody>
        
        <tr *ngFor="let aluno of alunos">
           <td> {{aluno.codAluno}} </td>
           <td class="col-2"> {{aluno.codAluno}} </td>
           <td class="col-1"> {{aluno.nomeAluno}} </td>
           <td class="col-1"> {{aluno.cpfAluno}} </td>
           <td class="col-1"> {{aluno.dataNascimento}} </td>
           <td class="col-2"> {{aluno.dataMatricula}} </td>
           <td class="col-2"> {{aluno.responsavel}} </td>
           <td class="col-1"> {{aluno.foneResponsavel}} </td>
           <td class="col-1"> {{aluno.matriculado}} </td>
           <td><a href="#" ><i class="fas fa-exchange-alt"></i>&nbsp;</a> Sim </td>
           <td><a href="#" ><i class="far fa-trash-alt"></i></a></td>
        </tr>
        
    </tbody>
</table>
