<table class="table"  id="consulta">
    <!-- cabecalho da tabela -->
    <thead>
        <th scope="col"> Codigo </th>
        <th scope="col"> Aluno </th>
        <th scope="col"> CPF </th>
        <th scope="col"> Data de Nascimento </th>
        <th scope="col"> Data de Cadastro </th>
        <th scope="col"> Pai </th>
        <th scope="col"> Mãe </th>
        <th scope="col"> Responsável </th>
        <th scope="col"> Telefone do Responsável </th>
        <th scope="col"> &nbsp;&nbsp;Ativo?&nbsp;&nbsp;</th>
        <th scope="col"> Notas </th>
        <th scope="col"> Excluir </th>
    </thead>
    <!-- corpo da tabela -->
    <tbody>
        
        <tr>
           <td> 1 </td>
           <td class="col-2"> Morgan </td>
           <td class="col-2"> 111.111.111-11 </td>
           <td class="col-2"> 1980-10-10 </td>
           <td class="col-2"> 2021-10-28 </td>
           <td class="col-1"> John </td>
           <td class="col-1"> Marie </td>
           <td class="col-1"> Mãe </td>
           <td class="col-1"> 87999998888 </td>
           <td><a href="#" ><i class="fas fa-exchange-alt"></i>&nbsp;</a> Sim </td>
           <td><a routerLink="notas-listar-aluno">🧾 </a></td>
           <td><a href="#" ><i class="far fa-trash-alt"></i></a></td>
        </tr>
        
    </tbody>
</table>
<router-outlet></router-outlet>