<table class="table"  id="consulta">
    <!-- cabecalho da tabela -->
    <thead>
        <th scope="col"> Codigo </th>
        <th scope="col"> Disciplina </th>
        <th scope="col"> Professor </th>
        <th scope="col"> Carga Horária </th>
        <th scope="col"> Ativa? </th>
        <th scope="col1"> Notas </th>
        <th scope="col"> Excluir </th>
    </thead>
    <!-- corpo da tabela -->
    <tbody>
        
        <tr>
              <td scope="row">1</td>
              <td>Matemática</td>
              <td>Ana Luísa</td>
              <td>10</td>
              <td><a href="#" ><i class="fas fa-exchange-alt"></i>&nbsp;</a> Sim</td>
              <td> <a routerLink="notas-listar-turma">🧾 </a></td>
           <td> <a href =# ><i class="far fa-trash-alt"></i> </a>    </td>
        </tr>
       
     
        
    </tbody>
</table>
<router-outlet></router-outlet>
