<table class="table"  id="consulta">
    <!-- cabecalho da tabela -->
    <thead>
        <th scope="col"> Disciplina </th>
        <th scope="col"> Nota 1 </th>
        <th scope="col"> Nota 2 </th>
        <th scope="col"> Nota 3 </th>
        <th scope="col"> Média </th>
        <th scope="col"> Situação </th>
    </thead>
    <!-- corpo da tabela -->
    <tbody>
        
        <tr>
              <td scope="row">História</td>
              <td>9.0</td>
              <td>8.0</td>
              <td>7.0</td>
              <td>8.0</td>
              <td>Aprovado</td>
        </tr>
        <tr>
            <td scope="row">Matemática</td>
              <td>7.0</td>
              <td>8.0</td>
              <td>6.0</td>
              <td>7.0</td>
              <td>Reprovado</td>
      </tr>
      <tr>
        <td scope="row">Geografia</td>
              <td>10.0</td>
              <td>9.5</td>
              <td>9.0</td>
              <td>9.5</td>
              <td>Aprovado</td>
  </tr>
        
    </tbody>
</table>
